@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --bgcolor: #050505;
    --bgcont: #141414;
    --primal: #9B9B9B;
    --cgreen: #C3EFAB;
    --cred: #EFABB2;
    --cwhite: #fffffc
}
*{
    color: var(--primal);
    font-family: "Poppins", serif;
    padding: 2px;
}

body{
    height: 100vh;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    
}

.container{
    border-radius: 20px;
    background-color: var(--bgcont);
    padding: 5px;
}

.navbar{
    width: 20vw;
    height: fit-content;
}

.content{
    width: 80vw;
    height: fit-content;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title{
    font-size: larger;
}
.searchbar{
    display: flex;
    background-color: var(--cgreen);
    height: 22px;
    width: 80%;
    padding: 2px;
    border-radius: 10px;
    border-color: var(--primal);
}
.searchbar input{
    background-color: transparent;
    border-style: none;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.btn{
    background-color: var(--cred);
    color: var(--cwhite);
    font-weight: bold;
    padding: 2px;
    border-style: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
}
.list{
    width: 100%;
}